<div class="carousel">
    <div class="carousel-vet">
        <div class="carousel-details">
            <img src="assets/gatito.jpg" alt="Consulta general">
            <h3>Felinos</h3>
        </div>
        <div class="carousel-details">
            <img src="assets/perritoBlanco.jpg" alt="Vacunación">
            <h3>Caninos</h3>
        </div>
        <div class="carousel-details">
            <img src="assets/aves.jpeg" alt="Cirugías">
            <h3>Aves</h3>
        </div>
        <div class="carousel-details">
            <img src="assets/porcino.jpg" alt="Vacunación">
            <h3>Porcinos</h3>
        </div>
    </div>
</div>