<div class="carousel">
    <div class="carousel-vet">
        <div class="">
            <img src="assets/gatito.jpg" class="w-100" alt="Consulta general">
        </div>
        <div class="">
            <img src="assets/perritoBlanco.jpg" class="w-100" alt="Vacunación">
        </div>
        <div class="">
            <img src="assets/gato.jpg" class="w-100" alt="Cirugías">
        </div>
        <div class="">
            <img src="assets/perritoChihuahua.jpg" class="w-100" alt="Vacunación">
        </div>
    </div>
</div>